html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr.light {
  border-color: white;
  max-width: 50px;
  border-width: 3px; }

a {
  color: rosybrown;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  a:hover, a:focus {
    color: rosybrown; }

h1,
h2,
h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }


.bg-primary {
  clear: both;
  background-color: rosybrown !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 50px 0;
  border: 2px solid rgba(34, 34, 34, 0.3); }

.section-heading {
  margin-top: 0; }

.no-padding {
  padding: 0;
  border: none; }

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none; }

::selection {
  color: white;
  background: #222222;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #222222; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  #mainNav .navbar-brand {
    width: 200px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #A98080; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: rosybrown; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: rosybrown !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: #F8F8F8;
        border-bottom: 2px solid rgba(34, 34, 34, 0.3); }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: rosybrown; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: rosybrown; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: rosybrown; } }

.navbar-toggler {
  z-index: 1;
}
    
@media (max-width: 576px) {
  nav > .container {
  width: 100%;
  }
}

#main {
  background-image: url("../img/kansasCityScape.jpg");
  height: 50%;
}

#logo {
  width: 200px;
}

#homeHeading {
  text-shadow: 2px 2px 2px black;
  color: rosybrown;
  margin-bottom: 30%;
}

#user-input {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}

#homeHeading-results {
  text-shadow: 2px 2px 2px black;
  color: rosybrown;
  margin-top: 50px;
  margin-bottom: 5%;
}

#submit,
#submit-results {
  text-shadow: 2px 2px 2px black; 
  border: 1px solid rgba(0,0,0,0.3);
}

#submit-results {
	margin-top: 24px;
}

#location-change {
  color: lightyellow;
  text-shadow: 2px 2px 2px black; 
}

#weather {
  background-color: #fefefe;
  padding: 20px;
}

#services {
  background-color: rosybrown;
}

.service-box {
  color: white;
  font-size: 5em;

}

#weather_image {
  height: 120px;
}

#footer {
  background-color: rosybrown;
  height: 10%;
  border-top: 2px solid rgba(34, 34, 34, 0.3);
}

#copyright {
  margin-top: 30px;
}

header.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("../img/movingday_70opacity_cropped.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
@media (max-width: 768px) {
    #homeHeading {
      margin-top: 25%;
    }

    header.masthead .header-content .header-content-inner h1 {
      font-size: 38px;
    }

    #homeHeading-results {
      margin-top: 5%;
    }

    #location-change {
      font-size: 26px;
    }
}
@media (min-width: 768px) {
    header.masthead {
      height: 100%; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }

.service-box {
  max-width: 400px;
  margin: 50px auto 0; }
  @media (min-width: 992px) {
    .service-box {
      margin: 20px auto 0; } }
  .service-box p {
    margin-bottom: 0; }

.text-primary {
  color: rosybrown !important; }

.btn-default {
  color: #222222;
  border-color: white;
  background-color: white; }
  .btn-default:focus, .btn-default.focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default .badge {
    color: white;
    background-color: #222222; }
.btn-primary {
  color: white;
  border-color: rosybrown;
  background-color: rosybrown; }
  .btn-primary:focus, .btn-primary.focus {
    color: white; }
  .btn-primary:hover {
    color: white;
    border-color: #A98080;
    background-color: #A98080; }
  .btn-primary:active, .btn-primary.active,

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px;
}

/*Google Maps*/
#map {
  height: 600px;
  width: 100%;
  float: right;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }
  #description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  }

  #infowindow-content .title {
  font-weight: bold;
  }

  #infowindow-content {
  display: none;
  }

  #map #infowindow-content {
  display: inline;
  }

  .pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  }

  #pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  }

  .pac-controls {
  display: inline-block;
  padding: 5px 11px;
  }

  .pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  }

  #title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
  }
  #target {
  width: 345px;
  }
